<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/Admin_Home.css" />
		<title>Admin Home</title>
	</head>
	<body>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="/Admin_Student_Info">Student Information</a></li>
							<li><a href="/Admin_Faculty_Info">Faculty Information</a></li>
							<li><a href="/Admin_Broadcasts">Broadcasts</a></li>
							<li><a href="/Admin_Feedback">Feedback</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>

		<header class="showcase">
			<div class="container showcase-inner">
				<h1>Welcome to Academic Affairs System</h1>
			</div>
		</header>
	</body>
</html>
