<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/Admin_Feedback_Details.css" />
		<title>Admin Home</title>
	</head>
	<body>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="select_batch.html">Student Information</a></li>
							<li><a href="Faculty_Info.html">Faculty Information</a></li>
							<li><a href="Admin_Broadcasts.html">Broadcasts</a></li>
							<li><a href="Feedback_Subject_Select_Admin.html">Feedbacks</a></li>
							<li><a href="MainLander.html">Log Out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
            <div class="title">Feedback</div>
            <div class="course-table">
				
              <table>
				<th> <%=course.name%> </th>
                <% for(var i=0;i<StuSub.length;i++) {%>
            
                  <tr>
                    <td> <%= StuSub[i].feedback %></td>
                  </tr>
                <% } %>
              </table>
            </div>
          </div>
	</body>
</html>