<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/Admin_Feedback_Details.css" />
		<title>Admin Home</title>
	</head>
	<body>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="/Admin_Home">Home</a></li>
							<li><a href="/Admin_Student_Info">Student Information</a></li>
							<li><a href="/Admin_Faculty_Info">Faculty Information</a></li>
							<li><a href="/Admin_Broadcasts">Broadcasts</a></li>
							<li><a href="/Admin_Feedback">Feedback</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
            <div class="title"> Feedback</div>
            <div class="course-table"  style="color: black;">
				
              <table style="width: 80%; margin-left: 10%;" class= "table table-striped" style="border: 2px solid black;">
				<th class="table-warning" style="border: 2px solid black;"> <%=course.name%> </th>
                <% for(var i=0;i<StuSub.length;i++) {%>
            
                  <tr class="table-success">
                    <td style="border: 2px solid black;"> <%= StuSub[i].feedback %></td>
                  </tr>
                <% } %>
              </table>
            </div>
          </div>
	</body>
</html>