<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/Admin_Faculty_Info.css" />
		<title>Faculty Info</title>
	</head>
	<body>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="/Admin_Student_Info">Student Information</a></li>
							<li><a href="/Admin_Faculty_Info">Faculty Information</a></li>
							<li><a href="/Admin_Broadcasts">Broadcasts</a></li>
							<li><a href="/Admin_Feedback">Feedback</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

        <div class="container">
            <div class="title">Faculty Information</div>
            <div class="course-table">
              <table>
                <% faculty.forEach(function(faculty) { %>
                  <tr></tr>
                  <td><%= faculty.name %></td>
                  <td><%= faculty.faculty_ID%>  </td>
                  <% }) %>
              </table>
            </div>
          </div>

	</body>
</html>
