<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/Admin_Feedback.css" />
		<title>Admin Home</title>
	</head>
	<body>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="/Admin_Home">Home</a></li>
							<li><a href="/Admin_Student_Home_Login">Student Information</a></li>
							<li><a href="/Admin_Faculty_Info">Faculty Information</a></li>
							<li><a href="/Admin_BroadCasts">Broadcasts</a></li>
							<li><a href="/Admin_Feedback">Feedbacks</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="selector">
				<form action="/Admin_Feedback" method="post">
				<label id="labelh" for="Subject">Choose Subject</label>
				<select name="Subject" id="Subject">
				<% for(var i=0;i<Courses.length;i++) {%>
					<option value="<%=Courses[i].id%>"><%= Courses[i].name %></option>
				<% } %>
			</select>
				<button type="submit">View Feedbacks</a></button>
			</form>
			</div>
		</div>
	</body>
</html>