<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/Admin_Broadcast.css" />
		<title>Admin Broadcasts</title>
	</head>
	<body>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="/Faculty_Home">Home</a></li>
							<li><a href="/Admin_Student_Info">Student Information</a></li>
							<li><a href="/Faculty_Info">Faculty Information</a></li>
							<li><a href="/Faculty_Broadcasts">Broadcasts</a></li>
							<!-- <li><a href="/MainLander">Log Out</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="title">Broadcasts</div>
			<div class="course-table" style="color: black;">
				<table class="table table-striped" style="border: 2px solid black;">
					<tr class="table-warning">
					<th style="width: 70%; border: 2px solid black; padding-top: 22px;" >Broadcasts</th>
					<th style="border: 2px solid black;">Date of Broadcast</th>
					<th style="border: 2px solid black;">Time of Broadcast</th>
					</tr>
					<% broadcast.forEach(function(broadcast) { %>
						<tr class="table-success">
					<td style="border: 2px solid black;">
						<%= broadcast.broadcasts %>
					</td>
					<% var options={ weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric' }; %>
                    <td style="border: 2px solid black;"><%= broadcast.date_Of_Broadcast.toLocaleDateString("en-US", options) %></td>
					<td style="border: 2px solid black;"><%= broadcast.time_Of_Broadcast.toLocaleString('en-US', { hour: 'numeric', hour12: true }) %></td>
					</tr>
				<%  }) %>
				<tr></tr>
				</table>
			</div>
		</div>
	</body>
</html>
