<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/Faculty_Home_Style.css" />
		<title>Faculty Login Page</title>
	</head>
	<body>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="/Faculty_Info">Faculty Details</a></li>
							<li><a href="/Faculty_Sub_Info">Course Reports</a></li>
							<li><a href="/Faculty_Resources">Maintain course info</a></li>
							<li><a href="/Faculty_BroadCasts">Broadcasts</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<header class="showcase">
			<div class="container showcase-inner">
				<h1>Welcome to Academic Affairs System</h1>
			</div>
			
		</header>
		<form action="/logoutFaculty" method="post">
			<button type="submit"> Logout </button>
		</form>
	</body>
</html>
