<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/Student_Resources.css" />
    <title>Resources</title>
  </head>
  <body>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="personal_info.html">Personal Details</a></li>
							<li><a href="Student_Report.html">Course Reports</a></li>
							<li><a href="grade_tracking.html">Grade Tracking</a></li>
							<li><a href="Transcript.html">Transcript</a></li>
							<li><a href="Attendence.html">Attendence</a></li>
							<li><a href="receipt.html">Fees Receipts</a></li>
							<li><a href="Feedback.html">Feedbacks</a></li>
							<li><a href="select_subj.html">Resources</a></li>
							<li><a href="Broadcast.html">Broadcasts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="title">Subject</div>
      <div class="course-table">
        <table>
          <th>Title</th>
          <th>Link</th>
          <tr></tr>
          <% for (var i=0; i<StuSub.length; i++) { %>
            <td><%= StuSub[i].course_Name.name %></td>
            <% for (var i1=0; i1<FacSub.length; i1++) { %>
                <td><a href="<%= FacSub[i1].fac_Course_Link%>" target="_blank"><button>Download</button></a></td>
          <tr></tr>
          <%}%>
          <%}%>
        </table>
      </div>
    </div>
  </body>
</html>
