<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/Student_Resources.css" />
    <title>Resources</title>
  </head>
  <body>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="/Student_Home">Home</a></li>
              <li><a href="/Student_Info">Personal Details</a></li>
							<li><a href="/Student_Report">Course Reports</a></li>
							<li><a href="/Student_Grade_Tracking">Grade Tracking</a></li>
							<li><a href="/Attendence">Attendence</a></li>
							<li><a href="/Student_Feedback">Feedbacks</a></li>
							<li><a href="/Student_Resources">Resources</a></li>
							<li><a href="/Student_Broadcast">Broadcasts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="title">Subject</div>
      <div class="course-table">
        <table>
          <th style="background-color: #ffeeba;">Title</th>
          <th style="background-color: #ffeeba;">Link</th>
          <tr></tr>
          <% for (var i=0; i<StuSub.length; i++) { %>
            <td style="background-color: #c3e6cb;"><%= StuSub[i].course_Name.name %></td>
            <% for (var i1=0; i1<FacSub.length; i1++) { %>
                <td style="background-color: #66806d;"><a href="<%= FacSub[i1].fac_Course_Link%>" target="_blank"><button type="submit" style="background-color: white; color: black; border: none; border-radius: px;">Download</button></a></td>
          <tr></tr>
          <%}%>
          <%}%>
        </table>
      </div>
    </div>
  </body>
</html>
