<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/Student_Home_Style.css" />
		<title>Student Login Page</title>
	</head>
	<body>
		<div class="menu-wrap">
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="/Student_Home">Home</a></li>
							<li><a href="/Student_Info">Student Details</a></li>
							<li><a href="/Student_Sub_Info">Course Reports</a></li>
							<li><a href="/Student_Grade_Tracking">Grade Tracking</a></li>
							
							<li><a href="/Student_Attendance">Attendence</a></li>
							
							<li><a href="/Student_Feedback">Feedbacks</a></li>
							<li><a href="/Student_Resources">Resources</a></li>
							<li><a href="/Student_Broadcasts">Broadcasts</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<header class="showcase">
			<div class="container showcase-inner">
				<h1>Welcome to Academic Affairs System</h1>
			</div>
		</header>
		
		<form action="/logoutStudent" method="post">
			<button type="submit">Log Out</button>
		</form>
	</body>
</html>
